[project]
	description = Provides Node Information from Yana2 to Rundeck
[access "refs/*"]
	owner = group user/Sharad Ramachandran (sharadr)
[access "refs/for/refs/*"]
	read = group user/Sharad Ramachandran (sharadr)
	push = group user/Sharad Ramachandran (sharadr)
	label-Code-Review = -2..+2 group user/Sharad Ramachandran (sharadr)
	label-Verified = -1..+1 group user/Sharad Ramachandran (sharadr)
	rebase = group user/Sharad Ramachandran (sharadr)
	removeReviewer = group user/Sharad Ramachandran (sharadr)
	submit = group user/Sharad Ramachandran (sharadr)
[access "refs/heads/*"]
	read = group user/Sharad Ramachandran (sharadr)
	create = group user/Sharad Ramachandran (sharadr)
	push = +force group user/Sharad Ramachandran (sharadr)
	pushMerge = group user/Sharad Ramachandran (sharadr)
[access "refs/tags/*"]
	push = +force group user/Sharad Ramachandran (sharadr)
	pushTag = group user/Sharad Ramachandran (sharadr)
	pushSignedTag = group user/Sharad Ramachandran (sharadr)
